{% load static %}
<header id="header" class="header d-flex align-items-center sticky-top" style="background:#F8F8F8">
    <!-- Authentication Links (Sign In & Sign Up) -->

    <div class="container position-relative d-flex align-items-center justify-content-between">

        <!-- Logo Section -->
        <a href="{% url 'index_page' %}" class="logo d-flex align-items-center me-auto me-xl-0">
            <img src="{% static 'assets/img/logo1-removebg-preview.png' %}" alt="BloodLink Logo" style="width: 50px; height: auto; margin-right: 10px;">
            <h1 class="sitename">BloodLink KE</h1>
            <span>.</span>
        </a>

        <!-- Navigation Menu -->
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="{% url 'index_page' %}" class="active">Home</a></li>
                <li><a href="{% url 'about_page' %}">About Us</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blood <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'donate_page' %}">Become a Donor</a></li>
                        <li><a href="{% url 'search_blood_donations' %}">Search Blood</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'team_page' %}">Our Team</a></li>
                <li><a href="{% url 'gallery_page' %}">Gallery</a></li>
                <li><a href="{% url 'contact_page' %}">Contact Us</a></li>
            </ul>

            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>


        <!-- Call-to-Action Button -->
        {% comment %} <a class="btn-getstarted" href="#">Donate Blood</a> {% endcomment %}
        <div class="accounts d-flex">
            <a href="#" class="btn-getstarted" style="margin-right:10px">Sign In</a>
            <a href="#" class="btn-getstarted">Sign Up</a>
        </div>

    </div>
</header>